<table id="collections-list-table" class="table table-striped">
  <caption class="sr-only"><%= t("hyrax.dashboard.my.sr.listing") %> <%= application_name %></caption>
  <thead>
  <tr>
    <th>Title & Description</th> <%#= t("hyrax.dashboard.my.heading.title") %>
    <th><%= t("hyrax.dashboard.my.heading.items") %></th>
    <th>Modified</th> <%#= t("hyrax.dashboard.my.heading.last_modified") %>
    <% if can? :manage, Collection %>
      <th><%= t("hyrax.dashboard.my.heading.action") %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% docs.each_with_index do |document, counter| %>
    <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
      <%= render 'list_collections', collection: document, collection_presenter: collection_presenter, counter: counter, is_admin_set: document.admin_set? %>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-lg-12 center-content">
    <%= will_paginate docs, :param_name => 'collections_page'  %>
  </div>
</div>
