<!-------------- app/views/hyrax/homepage/_collection_card.html.erb -------------->
<div class="card col-lg-<%= card_width %> col-md-<%= card_width %> col-sm-<%= card_width %> col-xs-12">
  <%= link_to [hyrax, presenter], class: "plain-link" do %>
    <div class="wrapper" style="background: url(<%= new_path %>); background-size: cover; background-position: center;">
      <div class="data">
        <div class="content">
          <h3 class="card-title collection-card-title"><%= presenter.title.first %></h3>
          <p class="text">
            <% if presenter.description.first.present? %>
              <%= sanitize(presenter.description.first.truncate(110, separator: /\s/)) %>
            <% else %>
              No description available.
            <% end %>
          </p>
        </div><!-- .content -->
      </div><!-- .data -->
    </div><!-- .wrapper -->
  <% end %>
</div><!-- .card -->
