<div>
  <div class="featured-item-title">
    <% if featured.class.to_s.include? "Work" %>
      <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
      <h3>
        <%= link_to [main_app, featured] do %>
          <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) + featured.title.first %>
        <% end %>
      </h3>
    <% else %>
      <span class="sr-only"><%= t('hyrax.homepage.featured_collections.document.title_label') %></span>
      <h3>
        <%= link_to [hyrax, featured] do %>
          <% if featured.thumbnail_path %>
            <%= render_thumbnail_tag(featured.solr_document, {width: 90}, {suppress_link: true}) + featured.title.first %>
          <% end %>
        <% end %>
      </h3>
    <% end %>
  </div>
  <div class="featured_field featured-item-description">
    <p>
      <% if featured.description.first.present? %>
        <%= sanitize(featured.description.first.truncate(100, separator: /\s/)) %>
      <% else %>
        No description available.
      <% end %>
    </p>
  </div>
</div>
