<h2 class="sr-only"><%= t('hyrax.homepage.featured_works.title') %></h2>
<% if @featured_collection_list.featured_collections.empty? %>
  <p id='no-collections'><%= t('hyrax.homepage.featured_collections.no_collections') %></p>
<% else %>
  <%= form_for [main_app, @featured_collection_list] do |f| %>
    <div class="panel-group dd" id="ff">
      <ol id="featured_collections">
        <%= f.fields_for :featured_collections do |featured| %>
          <%= render 'sortable_featured_collections', f: featured %>
        <% end %>
      </ol>
    </div>
    <%= f.submit("Save order", class: 'btn btn-default') %>
  <% end %>
<% end %>
