<% if request.base_url.include? 'vault' %>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<div class="welcome-text">
		<p>Welcome to Vault, the digital asset management system used by UVic Libraries to store and provide access to digitized materials both from the rare and unique holdings in Special Collections and University Archives and from UVic Libraries’ project partners.</p>
		<p>Click on a collection below to get started or use the search bar to search across collections. For additional guidelines on searching Vault, see the <a href="/help">Help section</a>.</p>
	</div>
	<h1 id="featured-header">Featured Collections</h1>
	<ul id="featured-nav" role="tablist">
		<li class="active">
			<button id="featured-collections-tab" href="#featured-collections" data-toggle="tab" role="tab" aria-controls="featured-collections" aria-selected="true" tabindex="0">Featured Collections</button>
		</li>
		<li>
			<button id="featured-works-tab" href="#featured-works" data-toggle="tab" role="tab" aria-controls="featured-works" aria-selected="false" tabindex="-1">Featured Works</button>
		</li>
		<% if current_user && current_user.roles.map(&:name).include?("admin") %>
				<li>
					<button id="recent-collections-tab" href="#recent-collections" data-toggle="tab" role="tab" aria-controls="recent-collections" aria-selected="false" tabindex="-1">Recently Added Collections</button>
				</li>
				<li>
					<button id="recent-works-tab" href="#recent-works" data-toggle="tab" role="tab" aria-controls="recent-works" aria-selected="false" tabindex="-1">Recently Added Works</button>
				</li>
		<% end %>
	</ul>

	<!------------------- Card Rows -------------------->
	<div class="tab-content" >

		<!---------------------------- Featured Collections ----------------------------->
		<% @featured_collection_list.add_solr_document_to_collections %>
		<div class="tab-pane active" id="featured-collections" role="tabpanel"  aria-selected="true">
			<div class="container-fluid card-container">
				<%= render 'collection_card_row', collection_presenters: @featured_collection_list.collection_presenters %>
			</div><!-- .container -->
		</div><!-- .tab-pane active, #featured-collections -->

		<!------------------- Featured Works -------------------->
		<div class="tab-pane fade" id="featured-works" role="tabpanel">
			<div class="container-fluid card-container">
				<%= render 'work_card_row', work_presenters: @featured_work_list.featured_works.map(&:presenter) %>
			</div><!-- .container -->
		</div><!-- tab-pane -->

		<!------------- Recent Collections ----------------->
		<div class="tab-pane fade" id="recent-collections" role="tabpanel">
			<div class="container-fluid card-container">
				<%= render 'collection_card_row', collection_presenters: @recent_collection_presenters %>
			</div><!-- .container -->
		</div><!-- tab-pane -->

		<!------------- Recent Works ----------------->
		<div class="tab-pane fade" id="recent-works" role="tabpanel">
			<div class="container-fluid card-container">
				<%= render 'work_card_row', work_presenters: @recent_work_presenters %>
			</div><!-- .container -->
		</div><!-- tab-pane -->

		<!---------------------- Update Featured ----------------------->
		<div class="container">
			<div class="row">

				<% if can? :update, FeaturedCollection %>
					<div class="col-sm-6">
						<ul class="nav nav-tabs" role="tablist">
							<li class="active"><a aria-expanded="true" href="#tab-col2-first" role="tab" data-toggle="tab">Featured Collections</a></li>
							<li class=""><a aria-expanded="false" href="#tab-col2-second" role="tab" data-toggle="tab"><%= t('hyrax.homepage.featured_researcher.tab_label') %></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="tab-col2-first">
								<h2 class="sr-only">Featured Collections</h2>
								<%= render 'featured_collections' %>
								<%#= render 'explore_collections', collections: @presenter.collections %>
							</div>
							<div class="tab-pane" id="tab-col2-second">
								<h2 class="sr-only"><%= t('hyrax.homepage.featured_researcher.title') %></h2>
								<%= render 'featured_researcher' %>
								<%= link_to "Edit Featured Researcher", edit_content_blocks_path(anchor: "researcher"), class: "btn btn-default" %>
							</div>
						</div>
					</div><!-- .col-sm-6 -->
				<% end %>

				<% if can? :update, FeaturedWork %>
					<div class="col-sm-6">
						<ul id="homeTabs" class="nav nav-tabs">
							<li class="active"><a href="#featured_container" data-toggle="tab" role="tab" id="featureTab"><%= t('hyrax.homepage.featured_works.tab_label') %></a></li>
							<!-- <li><a href="#recently_uploaded" data-toggle="tab" role="tab" id="recentTab"><%#= t('hyrax.homepage.recently_uploaded.tab_label') %></a></li> -->
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade in active" id="featured_container" role="tabpanel" aria-labelledby="featureTab">
								<%= render 'featured_works' %>
							</div>
							<!-- <div class="tab-pane fade" id="recently_uploaded" role="tabpanel" aria-labelledby="recentTab">
            <%#= render 'recently_uploaded', recent_documents: @recent_documents %>
          </div> -->
						</div>
					</div><!-- /.col-sm-6 -->
					<% end %><!-- if can update FeaturedWork -->


			</div><!-- row -->
		</div><!-- .container -->

	</div>
		<!---------------------- List All Works and Collections ------------------------->
		<div id="homepage-works-and-collections">
			<div class="container-fluid" >
				<div class="row">   <!-- Refreshes list with ajax (see application.js) -->
					<div class="col-lg-6">
						<h2>All Collections</h2>
						<div id="homepage-collections-partial">
							<%= render 'collections_table', docs: @collections %>
						</div>
					</div>
					<div class="col-lg-6">
						<h2>Recent Works</h2>
						<div id="homepage-works-partial">
							<%= render 'works_table', docs: @works.paginate(:page => params[:works_page], :per_page => 10) %>
						</div>
					</div>
				</div><!-- .row -->
			</div>
		</div>

<% else %>

	<div class="col-xs-12 col-sm-6">
		<ul id="homeTabs" class="nav nav-pills">
			<li class="active"><a href="#featured_container" data-toggle="tab" role="tab" id="featureTab"><%= t('hyrax.homepage.featured_works.tab_label') %></a></li>
			<li><a href="#recently_uploaded" data-toggle="tab" role="tab" id="recentTab"><%= t('hyrax.homepage.recently_uploaded.tab_label') %></a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="featured_container" role="tabpanel" aria-labelledby="featureTab">
				<%= render 'featured_works' %>
			</div>
			<div class="tab-pane fade" id="recently_uploaded" role="tabpanel" aria-labelledby="recentTab">
				<%= render 'recently_uploaded', recent_documents: @recent_documents %>
			</div>
		</div>
	</div><!-- /.col-xs-6 -->

	<div class="col-xs-12 col-sm-6">

		<ul class="nav nav-pills" role="tablist">
			<li class="active"><a aria-expanded="true" href="#tab-col2-first" role="tab" data-toggle="tab"><%= t('hyrax.homepage.admin_sets.title') %></a></li>
			<li class=""><a aria-expanded="false" href="#tab-col2-second" role="tab" data-toggle="tab"><%= t('hyrax.homepage.featured_researcher.tab_label') %></a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="tab-col2-first">
				<h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
				<%= render 'explore_collections', collections: @presenter.collections %>
			</div>
			<div class="tab-pane" id="tab-col2-second">
				<h2 class="sr-only"><%= t('hyrax.homepage.featured_researcher.title') %></h2>
				<%= render 'featured_researcher' %>
			</div>
		</div>
	</div>

<% end %>
