<tr id="document_<%= document.id %>">
  <td style="word-wrap: break-word; min-width: 160px;max-width: 160px;">
    <div class='media'>
      <%= link_to [main_app, document], class: 'media-left', 'aria-hidden' => true do %>
        <% if file_set.present? && file_set.mime_type.present? && file_set.mime_type.include?("pdf") %>
          <%= image_tag(file_set.pdf_thumbnail_path, class: 'hidden-xs file_listing_thumbnail') %>
        <% else %>
          <%= render_thumbnail_tag document, { class: 'hidden-xs file_listing_thumbnail' }, { suppress_link: true } %>
        <% end %>
      <% end %>

      <div class='media-body'>
        <div class='media-heading'>
          <%= link_to [main_app, document], id: "src_copy_link#{document.id}", class: 'document-title' do %>
            <span class="sr-only">
              <%= t("hyrax.dashboard.my.sr.show_label") %>
            </span>
            <%= document.title_or_label %>
          <% end %>

          <br />
          <%= render_collection_links(document) %>

        </div>
        <span class="works-list-description">
        <% if document.description.present? %>
          <%= document.description.first.truncate(100, separator: /\s/).squish %>
        <% else %>
          No description available.
        <% end %>
        </span>
      </div>
    </div>
  </td>
  <td class="date"><%= document.date_uploaded %></td>

  <% if can? :manage, SolrDocument %>
  <td>
    <%= render 'hyrax/dashboard/works/work_action_menu', document: document %>
  </td>
  <% end %>
</tr>
