<table class="table table-striped works-list">
  <caption class="sr-only"><%= t("hyrax.dashboard.my.sr.listing") %> <%= application_name %></caption>
  <thead>
    <tr>
      <th>Title & Description</th> <%#= t("hyrax.dashboard.my.heading.title") %>
      <th class="date">Added</th> <%#= t("hyrax.dashboard.my.heading.date_uploaded") %>
      <% if can? :manage, SolrDocument %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% docs.each_with_index do |document, counter| %>
  	<% file_set = FileSet.find(document.thumbnail_id) rescue nil %>
    <% next if file_set.nil? %>
  	<%= render 'list_works', document: document,
  													 file_set: file_set,
                             counter: counter,
                             presenter: Hyrax::WorkShowPresenter.new(document, current_ability) %>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div id="paginate_lrg" class="col-lg-12 center-content">
    <%= will_paginate docs, :param_name => 'works_page' %>
  </div>
  <div id="paginate_med" class="col-lg-12 center-content">
    <%= will_paginate docs, :param_name => 'collections_page', :inner_window => 2, :outer_window => 1, :previous_label => " ← ", :next_label => " → " %>
  </div>
  <div id="paginate_sml" class="col-lg-12 center-content">
    <%= will_paginate docs, :param_name => 'works_page', :inner_window => 1, :outer_window => 0, :previous_label => " ← ", :next_label => " → " %>
  </div>
</div>
