  <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
    <div class="constraints well search_history">
      <h4><%= t 'blacklight_advanced_search.form.search_context' %></h4>
      <%= search_context_str %>
    </div>
  <% end %>

<%= form_tag search_catalog_path, class: 'advanced form-horizontal row', method: :get do  %>

  <div class="col-md-5 col-xs-12">
    <div class="limit-criteria">
      <h3 class="limit-criteria-heading">Filter by...</h3>
      <div id="advanced_search_facets" class="limit_input">
        <% if blacklight_config.try(:advanced_search).try {|h| h[:form_facet_partial] } %>
          <%= render blacklight_config.advanced_search[:form_facet_partial] %>
        <% else %>
          <%= render 'advanced_search_facets' %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render_hash_as_hidden_fields(advanced_search_context) %>

  <div class="col-md-7 col-xs-12">
    <div class="input-criteria">

      <div class="query-criteria">
        <h3 class="query-criteria-heading">
          <%= t('blacklight_advanced_search.form.query_criteria_heading_html', :select_menu =>  select_menu_for_field_operator ) %>
        </h3>

        <div class="form-group">
          <div class="col-md-10">
            <%= hidden_field_tag 'op', 'AND' %>
            <div class="btn-group btn-group" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button id="match_all" type="button" class="btn btn-info" data-value="AND"
                        title="Search will use boolean AND for multi-field searches.">All Fields</button>
                <button id="match_any" type="button" class="btn btn-default" data-value="OR"
                        title="Search will use boolean OR for multi-field searches.">Any Field</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group phys-repo-container">
          <input id="physical-repo" name="f_inclusive[physical_repository_label_sim][]" type="checkbox" value="University of Victoria (B.C.). Library">
          <label for="physical-repo" id="physical-repo-label">Only items physically held in UVic Libraries</label>
        </div>

        <!-- facets MUST be inside the form so that selected values
         (checkboxes) are submitted when user hits "Search" -->
        <div id="advanced_search">
          <%= render 'advanced/advanced_search_fields' %>
          <%= render 'advanced_search_submit_btns' %>
        </div>

      </div><!-- .query-criteria -->
    </div><!-- .input-criteria -->
  </div><!-- .col-md-8 -->

<% end %>

<script>
    // make button toggles update hidden field
    $('.btn-group button').on('click', function(event){
        event.preventDefault();
        var input = $(this).closest('.form-group').find('input[type=hidden]');
        if(input.val() !== $(this).data('value').toString()){
            input.val($(this).data('value')).trigger('change');
            refreshMatchType($(this));
        }
    });

    // Updates the match all/any buttons to be in-synch with the form value
    var refreshMatchType = function(btn) {
        btn.addClass("btn-info").removeClass("btn-default");
        var sibling = $(btn.siblings('button')[0]);
        sibling.addClass("btn-default").removeClass("btn-info");
    };
</script>
