<%- # requires solr_config local passed in
    solr_field = "year_range_isim"
    field_config = range_config(solr_field)
    label = facet_field_label(solr_field)

    input_label_range_begin = field_config[:input_label_range_begin] || t("blacklight.range_limit.range_begin", field_label: label)
    input_label_range_end   = field_config[:input_label_range_end] || t("blacklight.range_limit.range_end", field_label: label)
    maxlength = field_config[:maxlength]
-%>

<div class="tab-pane fade homepage-facet-tab" role="tabpanel" id="year-range-homepage-facet" aria-selected="true">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="homepage-facet-list">
          <% year_range_values.each do |val| %>
            <%= render_year_range_value(val) %>
          <% end %>
          <div class="homepage-year-range-form">
            <div class="limit_content range_limit">
              <label class="control-label">Enter custom year range:</label>
              <%= form_tag main_app.search_catalog_path, method: :get, class: [BlacklightRangeLimit.classes[:form], "range_#{solr_field}"].join(' ') do %>
                <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:page)) %>

                <!-- we need to include a dummy search_field parameter if none exists,
                     to trick blacklight into displaying actual search results instead
                     of home page. Not a great solution, but easiest for now. -->
                <% unless params.has_key?(:search_field) %>
                  <%= hidden_field_tag("search_field", "dummy_range") %>
                <% end %>

                <%= render_range_input(solr_field, :begin, "input start year of custom date range", maxlength) %> – <%= render_range_input(solr_field, :end, "input end year of custom date range", maxlength) %>
                <label class="sr-only" for="custom-year-range-search-button">Submit search by custom date range</label>
                <%= submit_tag "Search", class: "#{BlacklightRangeLimit.classes[:submit]} last-child", id: "custom-year-range-search-button" %>

              <% end %>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>