<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>
    <p>The following files failed fixity checks or were missing files:</p>
    <% @file_sets.each do |fs| %>
      <% host = "#{Account.find_by(tenant: Apartment::Tenant.current).cname}" %>
      <p><%= fs.title.first %>: <%= link_to "Page for file", "https://#{host}/concern/file_sets/#{fs.id}" %> &#9; <%= link_to "Download link", "https://#{host}/downloads/#{fs.id}" %></p>
      <p>Original checksum(md5): <%= fs.original_checksum.first %>&nbsp;
        Current checksum(md5): <%= fs.current_checksum %>
        Current checksum(sha1): <%= fs.files.first.checksum.value %></p>
    <% end %>
  </body>
</html>