<% appearance = Hyrax::Forms::Admin::Appearance.new %>
<footer class="site-footer" style="background-color: <%= appearance.header_background_color %>">
  <div class="container-fluid">
    <% if request.base_url.include?("vault") %>
      <div class="row" >
        <div class="col-xs-4 col-lg-2 col-md-4 col-sm-4 footer-logo-container">
          <a class="footer-link" id="logo-link" href="https://www.uvic.ca/library/" target="_blank">
            <img id="footer-logo" alt="UVic Libraries logo" src="<%= asset_path 'lib-logo-white.png' %>" />
          </a>
        </div>

        <div class="col-xs-6 col-lg-2 col-md-4 col-sm-4 footer-text">
          <h2>Quicklinks</h2>
          <ul class="unstyled-list">
            <li>
              <a aria-label="Hours and locations footer link" class="footer-link" href="https://www.uvic.ca/library/locations/" target="_blank">Hours and Locations</a>
            </li>
            <li>
              <a aria-label="Main library site footer link" class="footer-link" href="https://www.uvic.ca/library/" target="_blank">Main Library Site</a>
            </li>
            <li>
              <a aria-label="Digital exhibits footer link" class="footer-link" href="https://exhibits.library.uvic.ca/" target="_blank">Digital Exhibits</a>
            </li>
            <!-- Policy from https://libguides.uvic.ca/uvicspace/policies/access -->
            <li><a aria-label="Terms of use footer link" class="footer-link" href="/about" target="_blank">Terms of Use</a>&ensp;/&ensp;
              <a aria-label="Withdrawal policy footer link" class="footer-link" href="/about" target="_blank">Withdrawal Policy</a></li>
          </ul>
          <span>&copy; 2025 University of Victoria</span>
        </div>
        <div class="col-xs-6 col-lg-2 col-md-4 col-sm-4 footer-text" >
          <h2>Contact</h2>
          <ul aria-label="Contact information" class="unstyled-list">
            <li>
              <a class="footer-link" href="/contact">
                <i class="fa fa-envelope footer-icon" aria-hidden="true"></i>Contact Form
              </a>
            </li>
            <li><i class="fa fa-phone footer-icon" aria-hidden="true"></i>Tel: 250-721-8230</li>
            <li><img src="/footer-sms-icon.png" class="sms-icon footer-icon" aria-hidden="true" />SMS: 778-400-4518</li>
            <li><a aria-label="More library contact info" class="footer-link" href="https://www.uvic.ca/library/help/ask/index.php" target="_blank">More Library Contact Info</a></li>
          </ul>
          <ul aria-label="Social media links" class="unstyled-list">
            <li>
              <a aria-label="UVic Libraries Instagram" class="footer-link social-media-link" href="https://www.instagram.com/uviclibraries" target="_blank">
                <i aria-hidden="true" class="fa fa-instagram footer-icon"></i>
              </a>
            </li>
            <li>
              <a aria-label="UVic Libraries Facebook" class="footer-link social-media-link" href="https://www.facebook.com/UVicLibraries" target="_blank">
                <i aria-hidden="true" class="fa fa-facebook-square footer-icon"></i>
              </a>
            </li>
            <li>
              <a aria-label="UVic Libraries Youtube" class="footer-link social-media-link" href="https://www.youtube.com/user/UVicLibraries" target="_blank">
                <i aria-hidden="true" class="fa fa-youtube-play footer-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- row -->
    <% else %>
      <div class="navbar-text text-left">
<!--        <p><%#= t('hyrax.footer.service_html') %></p>-->
      </div>
      <div class="navbar-right">
        <div class="navbar-text text-right">
          <p><%= t('hyrax.footer.copyright_html') %></p>
          <p><%= t('hyrax.background_attribution_html') %></p>
          <% if admin_host? && !user_signed_in? %>
            <p><%= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div><!-- container -->
</footer>
