<% if Hyrax.config.display_media_download_link? %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <% if params[:controller] == "hyrax/file_sets" && params[:action] == "show" %><%# for FileSet#show view %>
        <% iframe_width = "100%" %>
      <% else %>
        <% iframe_width = "75vw" %>
      <% end %>
        <iframe src="<%= pdfjs.full_path(file: hyrax.download_path(file_set)) %>#disableAutoFetch=true&disableStream=true"style='width: <%= iframe_width %>; height: 100vw; overflow: hidden;' scrolling="yes">
        <%#= pdfjs_viewer pdf_url:  hyrax.download_path(file_set), style: :full %>
        </iframe>
      <% if can?(:edit, file_set.id) or file_set.parent.downloadable? or request.base_url.exclude?("vault") %>
        <%= link_to t('hyrax.file_set.show.downloadable_content.pdf_link'),
                    hyrax.download_path(file_set),
                    data: { turbolinks: false },
                    target: :_blank,
                    id: "file_download",
                    data: { label: file_set.id } %>
      <% end %>
    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
    </div>
<% end %>
