<%# Override Hyrax 4.0
    - Make columns for metadata values larger
    - Move collection counts above metadata (instead of below)
    - Moved rendering logic for work index fields to MetadataFieldHelper
%>
<div class="col-md-9 col-sm-12">
  <% if document.collection? %>
    <% collection_presenter = controller.collection_presenter_class.new(document, current_ability) %>
    <div class="collection-counts-wrapper">
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_collections %></span>Collections
      </div>
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_works %></span>Works
      </div>
    </div>
  <% end %>
  <div class="metadata">
    <dl>
    <% doc_presenter = document_presenter(document) %>
    <%# Render description for collections but not works %>
    <% if document.collection? && document['description_tesim'].presence %>
        <div class="row">
          <dt class="col-md-4 col-sm-12" data-solr-field-name="description_tesim">Description:</dt>
          <dd class="col-md-8 col-sm-12"><%= truncate_field_values(value: document['description_tesim']) %></dd>
        </div>
    <% end %>
      <% doc_presenter.fields_to_render.each do |field_name, field| %>
        <div class="row">
          <dt class="col-md-4 col-sm-12" data-solr-field-name="<%= field_name %>"><%= field.label %></dt>
          <dd class="col-md-8 col-sm-12"><%= doc_presenter.field_value field %></dd>
        </div>
    <% end %>
    </dl>
  </div>
</div>