<%# OVERRIDE Hyrax 4.0 to add download link for images and pdfs %>
<div class="viewer-wrapper">
  <%# See public/uv/uv.html %>
  <iframe
    src="<%= universal_viewer_base_url(presenter) %>#?manifest=<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>&config=<%= universal_viewer_config_url(presenter) %>"
    allowfullscreen="true"
    frameborder="0"
    id="universal-viewer"
    style="width:100%; height:480px;"
  ></iframe>
</div>
<%# Only render 'Download Image' link if there is only one image %>
<% if display_media_download_link?(file_set: presenter.representative_presenter) \
        && one_image?(presenter) %>
  <%= link_to t('hyrax.file_set.show.downloadable_content.image_link'),
              hyrax.download_path(presenter.representative_presenter),
              data: { label: presenter.representative_presenter.id },
              target: :_blank,
              id: "file_download" %>
<% end %>
<%= '|' if display_pdf_download_link?(presenter) \
            && one_image?(presenter) %>
<% if display_pdf_download_link?(presenter) %>
  <%= link_to pdf_link_text(presenter),
              hyrax.download_path(pdf_file_set(presenter)),
              data: { turbolinks: false },
              target: :_blank,
              id: "pdf_download",
              data: { label: pdf_file_set(presenter).id } %>
<% end %>