<div class="col-md-7 no-padding">
  <% if !has_vtt?(video_files.first) && parent_has_transcript?(video_files.first) %>
    <video id="video1" preload="auto" data-able-player data-skin="2020" data-transcript-text="transcript-text" playsinline width="600"></video>
  <% else %>
    <video id="video1" preload="auto" data-able-player data-skin="2020" playsinline width="600"></video>
  <% end %>
</div>
<div class="col-md-5 no-padding">
  <div id="video-playlist-container">
  <h4 class="playlist-heading">Playlist</h4>
  <!-- an AblePlayer playlist is any <ul> with class="able-playlist" -->
  <!-- The value of data-player must match the id of the media element -->
  <!-- see documentation for additional details -->
    <ul class="able-playlist" id="video-playlist" data-player="video1">
      <% video_files.each do |file| %>
        <li data-poster="<%= file.solr_document.thumbnail_path %>" data-width="600">
          <span class="able-source" data-src="<%= hyrax.download_path(file) %>"></span>
          <% if has_vtt?(file) %>
          <span class="able-track"
                data-kind="captions"
                data-src="<%= vtt_path_for(file) %>"
                data-srclang="en"
                data-label="English"></span>
          <% elsif parent_has_transcript?(file) %>
            <!-- This is just a dummy to trigger the Hide/Show transcript button, various controls (e.g. dragging, resizing
 that aren't available with the specified manual/external options. The transcript (PDF) text  -->
            <span class="able-track"
                data-kind="captions"
                data-src="/able_player/transcripts/blank.vtt"
                data-srclang="en"
                data-label="English"></span>
          <% end %>
          <button type="button">
            <img src="<%= file.solr_document.thumbnail_path %>" alt="">
            <%= file.title.first %>
          </button>
        </li>
      <% end %>
    </ul>
    <div class="able-status-bar"></div>
  </div>
</div>
<% if parent_has_transcript?(video_files.first) %>
  <div id="transcript-text" style="display: none;" aria-hidden="true"><%= sanitize(video_files.first.parent.solr_document.full_text.strip.gsub("\n","<br/>")) %></div>
<% end %>
<% if Hyrax.config.display_media_download_link? && allow_downloads?(video_files.first) %>
  <div class="download-links-container">
    <%= link_to "Download selected video",
                hyrax.download_path(video_files.first),
                data: { label: video_files.first.id },
                target: :_blank,
                id: "current_file_download" %>
    <%# Include link to transcript %>
    &ensp;|&ensp;
    <% if has_vtt?(video_files.first) %>
      <%= link_to "Download selected transcript (PDF)",
                  hyrax.download_path(vtt_transcript_for(video_files.first)),
                  data: { turbolinks: false },
                  target: :_blank,
                  id: "transcript_file_download",
                  data: { label: vtt_transcript_for(video_files.first).id } %>
    <% elsif parent_has_transcript?(video_files.first) %>
      <%= link_to "Download transcript (PDF)",
                  hyrax.download_path(parent_transcript_for(video_files.first)),
                  data: { turbolinks: false },
                  target: :_blank,
                  id: "transcript_file_download",
                  data: { label: parent_transcript_for(video_files.first).id } %>
    <% end %>
  </div>
<% end %>
<script>
    // Change "Download selected X" link when changing files
    $(document).on('turbolinks:load', function() {
        $('.col-md-5').click(function(e) {
            e.stopPropagation();
            var selectedAudio = $('li.able-current').find('.able-source').data('src');
            var selectedTitle = $('li.able-current').find('button').text().trim().replace(' - video','');
            var transcript = $("ul[role=menu] li[role=menuitem] a[title='Download " + selectedTitle + " - transcript" + "']");
            $('#current_file_download').attr('href', selectedAudio);
            if(typeof(transcript) !== 'undefined') {
                $('#transcript_file_download').attr('href', transcript.attr('href'));
            } else if($('.attribute-filename a:contains("transcript")') == 1) {
                // If there is only 1 transcript file for all video files, find the file with a
                // title that contains 'transcript' and change the download link to that
                var transcript = $("ul[role=menu] li[role=menuitem] a#file_download").map(function(){
                    if($(this).attr('title').includes('transcript')) {
                        return $(this)
                    }
                })[0];
                $('#transcript_file_download').attr('href', transcript.attr('href'));
            }
        });
    });
</script>
