<div class="set-access-controls">

  <h3 class="collection-sharing-heading">Visibility</h3>

  <p><%= t('.para1') %></p>

  <div class="form-group">
    <label class="radio">
      <input type="radio" id="visibility_open" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>" <% if @collection.open_access? %> checked="true"<% end %> /><span class="label label-success">Public</span> - <%= t('hyrax.visibility.open.note_html') %>
    </label>
    <label class="radio">
      <input type="radio" id="visibility_registered" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>" <% if @collection.authenticated_only_access? %> checked="true"<% end %> /><span class="label label-info"><%= t('hyrax.visibility.authenticated.text', institution: institution_name) %></span> - <%= t('hyrax.visibility.authenticated.note_html', institution: institution_name) %>
    </label>
    <label class="radio">
      <input type="radio" id="visibility_restricted" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>" <% if @collection.private_access? %> checked="true"<% end %> /><span class="label label-danger">Private</span> - <%= t('hyrax.visibility.restricted.note_html') %>
    </label>
  </div>

</div>

<% if request.base_url.include? "vault" %>
  <section class="section-download-ability">
    <h3>Downloads</h3>
    <p>Turning this on will allow public users to download all files in this collection. Users who can edit files in a collection will still be able to download even if downloads are otherwise not allowed.</p>
    <p>Currently, <strong><%= @collection.count_downloadable[0] %></strong> out of <%= @collection.count_downloadable[1] %> works in this collection are downloadable.<p>
    <%= link_to "Enable downloads", main_app.toggle_downloads_path(id: params[:id], user_email: current_user, downloadable: true), remote: :true, method: :post, class: 'btn btn-primary' %>
    <%= link_to "Disable downloads", main_app.toggle_downloads_path(id: params[:id], user_email: current_user, downloadable: false), remote: :true, method: :post, class: 'btn btn-default' %>
  </section>
<% end %>

<% access_options = options_for_select([['View', 'view']]) %><%# ,['View and Download','download'] %>
<% group_options = (Role.all.map(&:name).uniq - ["superadmin"]).each_with_object([]) do |group_id, array| %>
  <% option = [group_id.titleize, group_id] %>
  <% array.push(option) %>
<% end %>

<div id="participants" class="participants" class="tab-pane">
      <section class="section-add-sharing clearfix">
        <h3 class="collection-sharing-heading">Add Groups or Users</h3>
        <p>Regardless of the visibility settings of this collection, you can share this collection with specific groups and users.</p>
        <!-- Add group form -->
        <div class="sharing-row-form form-add-sharing-wrapper clearfix" data-id="<%= @form.id %>">
          <%= simple_form_for @form.permission_template,
                              url: [hyrax, :dashboard, @form, :permission_template],
                              html: { id: 'group-participants-form' } do |f| %>
              <%= f.fields_for 'access_grants_attributes',
                               f.object.access_grants.build(agent_type: 'group'),
                               index: 0 do |builder| %>

                <div class="form-inline add-sharing-form">
                  <div class="form-group">
                    <label><%= t('.add_group') %>:</label>
                    <%= builder.hidden_field :agent_type %>
                    <%= builder.select :agent_id,
                                       group_options,
                                       { prompt: "Select a group..." },
                                       class: 'form-control' %>
                    can
                    <%= builder.select :access,
                                       access_options,
                                       { prompt: "Select access..." },
                                       class: 'form-control' %>

                    <%= f.submit t('helpers.submit.hyrax_permission_template_access.create'), class: 'btn btn-info edit-collection-add-sharing-button', disabled: true, onclick: "this.disabled=true;this.value='Adding group, please wait...';this.form.submit();" %>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>

        <!-- Add user form -->
        <div class="sharing-row-form form-add-sharing-wrapper" data-id="<%= @form.id %>">
          <%= simple_form_for @form.permission_template,
                              url: [hyrax, :dashboard, @form, :permission_template],
                              html: { id: 'user-participants-form' } do |f| %>
              <%= f.fields_for 'access_grants_attributes',
                               f.object.access_grants.build(agent_type: 'user'),
                               index: 0 do |builder| %>

                <div class="form-inline add-users">
                  <div class="form-group">
                    <label class="control-label"><%= t('.add_user') %>:</label>
                    <%= builder.hidden_field :agent_type %>
                    <%= builder.text_field :agent_id,
                                           placeholder: "Search for a user..." %>
                    can
                    <%= builder.select :access,
                                       access_options,
                                       { prompt: "Select access..." },
                                       class: 'form-control' %>

                    <%= f.submit t('helpers.submit.hyrax_permission_template_access.create'), class: 'btn btn-info edit-collection-add-sharing-button', disabled: true, onclick: "this.disabled=true;this.value='Adding user, please wait...';this.form.submit();" %>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>

        <p class="help-block"><%= t('hyrax.admin.admin_sets.form.note') %></p>
      </section>
</div>

<div class="collection-sharing-wrapper">
  <section class="section-collection-sharing">
    <h3 class="collection-sharing-heading">Current Viewers</h3>
    <%= render 'form_share_table', access: 'viewers', filter: :view? %>
  </section>
</div>
