<%# Override Hyrax 4.0
      - Change radio button labels to spans/badges
      - add Enable/disable downloads controls
%>
<div class="set-access-controls">

  <h3 class="collection-sharing-heading">Visibility</h3>

  <p><%= t('.para1') %></p>
  <p><%= t('.para2') %></p>

  <div class="form-check">
    <label class="form-check-label">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
      <span class="badge badge-success"><%= t('hyrax.visibility.open.text') %></span> - <%= t('hyrax.visibility.open.note_html') %>
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
      <span class="badge badge-info"><%= t('hyrax.visibility.authenticated.text', institution: institution_name) %></span> - <%= t('hyrax.visibility.authenticated.note_html', institution: institution_name) %>
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
      <span class="badge badge-danger"><%= t('hyrax.visibility.restricted.text') %></span> - <%= t('hyrax.visibility.restricted.note_html') %>
    </label>
  </div>

  <% if request.base_url.include? "vault" %>
    <section class="section-download-ability">
      <h3 class="mt-4">Downloads</h3>
      <p>Turning this on will allow public users to download all files in this collection. Users who can edit files in a collection will still be able to download even if downloads are otherwise not allowed.</p>
      <p>Currently, <strong><%= @downloadable_count %></strong> out of <%= @members_count %> works in this collection are downloadable.<p>
      <%= link_to "Enable downloads", main_app.toggle_downloads_path(id: params[:id], user_email: current_user, downloadable: true), remote: :true, method: :post, class: 'btn btn-primary' %>
      <%= link_to "Disable downloads", main_app.toggle_downloads_path(id: params[:id], user_email: current_user, downloadable: false), remote: :true, method: :post, class: 'btn btn-default' %>
    </section>
  <% end %>

  <% access_options = options_for_select([['View', 'view']]) %><%# ,['View and Download','download'] %>
  <% group_options = (Role.all.map(&:name).uniq - ["superadmin"]).each_with_object([]) do |group_id, array| %>
    <% option = [group_id.titleize, group_id] %>
    <% array.push(option) %>
  <% end %>


</div>