<%# Override Hyrax 4.0 to preserve the display of previous versions %>
<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div itemscope itemtype="http://schema.org/CreativeWork" class="row">
  <div class="col-sm-12">
      <%= render 'work_title', presenter: @presenter %>
      <%= render "show_actions", presenter: @presenter %>
  </div>
  <div class="col-sm-12">
      <div class="col-sm-12 col-md-12">
        <% if @presenter.iiif_viewer? %><%# returns true if image %>
          <div class="col-sm-12">
            <%= render 'representative_media', presenter: @presenter, viewer: true %>
          </div>
        <% else %>
          <%= render 'representative_media', presenter: @presenter, viewer: false %>
        <% end %>
      </div>
    <%= render 'work_description', presenter: @presenter %>
    <%= render 'relationships', presenter: @presenter %>
    <%= render 'metadata', presenter: @presenter %>
    <%= render 'citations', presenter: @presenter %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'items', presenter: @presenter %>
    <%= render 'workflow_actions_widget', presenter: @presenter %>
    <%# TODO: we may consider adding these partials in the future %>
    <%#= render 'sharing_with', presenter: @presenter %>
    <%#= render 'user_activity', presenter: @presenter %>
  </div>
</div>
